﻿Урок № 1. Present Perfect Tense

Present Perfect Tense образуется с помощью вспомогательного глагола <b>have/has</b> и <b>Past Participle</b> (причастия прошедшего времени, иногда называемого третьей формой глагола). При этом в речи (и при неформальной переписке) обычно используются краткие формы (contractions):<br>
<i>I have been to Africa twice.</i> = <i>I've been to Africa twice.</i> = Я дважды был в Африке.<br>
<i>John has gone to Dublin.</i> = <i>John's gone to Dublin.</i> = Джон уехал в Дублин.<br><br>

Past Participle правильных глаголов совпадает с формой прошедшего времени (см. уровень <b><i>Elementary</i></b>, урок Past Simple). Past Participle неправильных глаголов следует запоминать.<br>
При вопросе  в Present Perfect вспомогательный глагол have/has ставится перед подлежащим:<br>
<i>Have you ever been to France?</i> - Вы когда-либо были во Франции?<br>
<i>How long has he lived here?</i> - Как давно он здесь живет?<br><br>

Для образования отрицания прибавляется частица <b>not</b>, при этом в речи (и при неформальной переписке) обычно используются краткие формы (contractions) <b>haven't / hasn't</b>:<br><br>

<i>I have not been to Scotland.</i> = <i>I haven't been to Scotland.</i> = Я не был в Шотландии.<br>
<i>Mary has not arrived yet.</i> = <i>Mary hasn't arrived yet.</i> = Мэри еще не приехала.